.connectBox {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.connect {
  border-radius: 60px;
  outline: none;
  padding: 10px 40px;
  font-size: 25px;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  background: #fff278;
  border: none;
  color: #000;
}
