.mostActive {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mostActive h2 {
  font-weight: 700;
  font-size: 45px;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  max-height: 403px;
  gap: 35px;
  margin: 0;
  padding: 0;
}

.member {
  list-style-type: none;
  width: 175px;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  overflow: hidden;
  border-radius: 200px;
}

.name {
  pointer-events: none;
  display: block;
  background: black;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  margin-top: 150px;
  position: absolute;
  z-index: 1;
  text-align: center;
  opacity: 0;
  transition: all 300ms ease;
}
.member:hover .name {
  opacity: 1;
}
