.mostActive {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mostActive h2 {
  font-weight: 700;
  font-size: 45px;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  max-height: 403px;
  gap: 35px;
  margin: 0;
  padding: 0;
}

.member {
  list-style-type: none;
  border-radius: 200px;
  width: 175px;
  height: 175px;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
