.profilePage {
  display: flex;
  flex-direction: column;
  gap: 150px;
  margin: 100px;
  align-items: center;
}
.profileBox h2 {
  text-align: center;
  font-weight: 700;
  font-size: 45px;
}
.profileBox {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  width: 860px;
}
.profileButtons {
  outline: none;
  background: none;
  border: solid 2px #fff;
  border-radius: 100px;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
  padding: 10px 20px;
}
.buttonContainer {
  display: flex;
  flex-flow: row-reverse;
  align-self: flex-end;
}
.profileContainer {
  border: solid 2px #fff;
  border-radius: 100px;
  display: flex;
  overflow: hidden;
  width: inherit;
  justify-content: center;
}
.profileContent {
  display: flex;
  gap: 40px;
  padding: 40px 40px;
  flex-direction: column;
  flex: 1 1;
}
.profileItems {
  display: flex;
  gap: 30px;
}
.profileItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profileItem > p:first-of-type {
  font-weight: 700;
}
.profileRolesBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profileRoles {
  display: flex;
  gap: 10px;
}
.profileRoles p,
.positionRole {
  display: inline-block;
  background: #000;
  border-radius: 30px;
  margin: 0;
  padding: 5px 20px;
  text-align: center;
}
.positions {
  display: grid;
  grid-template-columns: 400px 400px;
  gap: 20px 40px;
  justify-content: center;
}
.position {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  border-radius: 40px;
  border: solid 2px #fff;
  overflow: hidden;
}
.positionContent {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  padding: 20px;
  gap: 10px;
}
.positionContentMain {
}
