.profiles {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 40px;
  align-items: center;
}

.profiles h2 {
  font-weight: 700;
  font-size: 45px;
}

.filters {
  display: flex;
  gap: 10px;
  width: 980px;
}

.filters > div {
  flex: 1 1;
}

.filters button {
  border: solid 2px #fff;
  height: 71px;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  outline: none;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  transition: all 200ms ease;
}

.filters button:active {
  background: rgba(255, 255, 255, 1);
}

.filters button:hover {
  background: rgba(255, 255, 255, 0.5);
}

.rolesOptions {
  position: absolute;
  z-index: 1;
  background: #679ef0;
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 20px 40px;
  box-shadow: 0 5px 10px #4d81cf;
  animation: popin 0.3s ease;
  width: 400px;
}

@keyframes popin {
  0% {
    opacity: 0;
    scale: 0.8;
    margin-top: -80px;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
    scale: 1;
  }
}

.roleOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  cursor: pointer;
}
.roleOption:hover .checkbox {
  background: rgba(255, 242, 120, 0.2);
}

.checkbox {
  position: relative;
  width: 40px;
  height: 40px;
  border: solid 2px #fff;
  transition: all 200ms ease;
  padding: 5px;
  box-sizing: border-box;
}
.checkboxChecked {
  background: #fff278;
  width: 26px;
  height: 26px;
  position: absolute;
}

.profilesContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.profilesList {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.profile {
  border: 2px solid #fff;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  width: 480px;
}

.profileNft {
}

.profileDescription {
  padding: 20px 60px 20px 20px;
  flex: 1 1 0;
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 0;
}

.profileAuthor {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  gap: 30px;
}

.profileRole {
  background: #000;
  border-radius: 30px;
  margin: 0;
  padding: 5px 15px;
  align-self: flex-start;
  font-size: initial;
}

.experience {
}

.web3Exp {
}

.interests {
}

.arrowButton {
  background: #fff278;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  right: -20px;
  top: 50%;
  margin-top: -25px;
  z-index: 1;
}
.arrowBar {
  background: #000;
  width: 15px;
  height: 3px;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -8px;
  position: absolute;
}
.arrowTip1,
.arrowTip2 {
  background: #000;
  height: 3px;
  width: 8px;
  rotate: 45deg;
  position: absolute;
  margin-top: -2px;
  right: -1px;
}
.arrowTip2 {
  rotate: -45deg;
  margin-top: 2px;
}

.loadMore {
  background: #fff278;
  border-radius: 60px;
  outline: none;
  border: none;
  padding: 10px 40px;
  font-size: 25px;
  cursor: pointer;
  font-weight: 700;
}
